main {
    margin-left: 138px;
    margin-right: 136px;
}


body {
    background-color: #f0f0f0
    ;
}

footer {
    width: auto;
    height: 201px;
    background-color: #243043;
}

.footer1 {
    margin-top: 36px;
}

.nav {
   display: inline-block;

}

.text1 {
   width: 32px;
   margin-left: 275px;
   font-weight: 700;
   font-size: 11px;
}

.text2 {
    width:80px;
    margin-left: 35px;
    font-weight: 700;
    font-size: 11px;
}

.text3 {
    width: 44px;
    margin-left: 35px;
    font-weight: 700;
    font-size: 11px;
}

.text4 {
    margin-left: 35px;
    width: 50px;
    font-weight: 700;
    font-size: 11px;
}

.image1 {
    display: inline-block;
    margin-left: 40px;
}

.h1 {
    width: 120px;
    height: 28px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 137px;
    margin-top: 76px;
}




.upper p {
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 20px;
    width: 184px;
    top: 32px;
    left: 41px;
}

.upper img {
    width: 362px;
    height: 186px;
}

.info {
   background-color: white;
    width: 362px;
    height: 171px;
    color: #8A8787;
}

.info p, .info span {
    font-size: 10px;
}

.container1 {
    margin-left: 140px;
    margin-top: 27px;
    display: inline-block;
    position: relative;
}

.container2 {
    margin-left: 40px;
    margin-top: 27px;
    display: inline-block;
    left: 40px;
    vertical-align: super;
    position: relative;
}

.container3 {
    margin-left: 126px;
    margin-top: 27px;
    display: inline-block;
    margin-right: 136px;
    vertical-align: super;
    position: relative;
}

.heading2 {
    width: 210px;
    height: 28px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 137px;
    margin-top: 57px;
  
}

.photoes1 {
    position: relative;
}

.photoes1 img, .photoes1 p {
    position: absolute;
}

.photoes1 p {
    width: 250px;
    height: 23px;
    font-weight: 700;
    color: white;
    left: 400px;
    top: 233px;
    font-size: 21px;
}

.photoes1 img {
    width: 758px;
    height: 430px;
    margin-top: 30px;
    margin-left: 137px;
}

.photoes2 img {
    width: 758px;
    height: 430px;
    margin-top: 521px;
    margin-left: 137px;
}

.main-photoes {
    display: flex;
}

.left-side {
    flex: 1;
}

.right-side {
    flex: 1;
    margin-left: 100px;
}

.left-side-photo1 {
    margin-top: 120px;
}

.left-side-photo1, .left-side-photo2,  .left-side-photo3 {
    margin-left: 45px;
}

.left-side-photo2 {
    margin-top: 98px;
}

.left-side-photo3 {
    margin-top: 103px;
}


